* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/********* MENU *********/

header {
    width: 100%;
    height: 70px;
}

header nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

header nav li {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;

}

header nav li a {
    display: inline-block;
    line-height: 50px;
    color: white;
    text-decoration: none;
    list-style: none;

}

header nav li a:hover {
    color: #0a2443;
}

.logo {
    width: 60px;
    height: 60px;
    margin-top: 2px;
}

.facebook_ikon {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/********* BANNER *********/

#banner {
    width: 100vw;
    height: 49vw;
    background-image: url(img/banner.jpg);
    background-size: cover;
}

#banner h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.4em;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/********* SECTIONWRAPPER *********/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.sectionwrapper .column {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 30px 30px 0 30px;
}

.sectionwrapper .column:last-child {
    padding: 30px 30px 30px 30px;
}


/********* FOOTER *********/

footer {
    background-color: #0a2443;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

footer .column {
    flex-grow: 1;
    flex-basis: 400px;
    text-align: center;
    line-height: 25px;
}

footer .column img {
    width: 130px;
}

#facebook {
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .column h3 {
    padding-top: 25px;
    text-transform: uppercase;
}

footer .column li {
    line-height: 20px;
}

footer .column li a {
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 600px) {
    footer .column {
        flex-basis: 50%;
    }

}

@media screen and (min-width: 1000px) {
    footer .column {
        flex-basis: 16.6%;
    }

    #banner h1 {
        font-size: 5em;
    }
}
