* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

a {
    color: orangered;
}


/********* MENU *********/

header {
    width: 100%;
    height: 70px;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2em;
}

header nav ul {
    display: flex;
    flex-wrap: nowrap;

}

header nav li {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;

}


header nav li:first-child {
    padding-top: 0px;

}

header nav li a {
    display: inline-block;
    line-height: 50px;
    color: #0a2443;
    text-decoration: none;
    list-style: none;
}

.active {
    color: orangered;
}

header nav li a:hover {
    color: orangered;
}

.dots {
    padding: 25px 0px 0px 0px;
    margin: 0px;
}


span {
    padding: 0px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-top: 2px;
}


/********* BANNER *********/

.forsidebanner {
    width: 100vw;
    background-image: url(img/banner6.jpg);
    background-size: cover;
}


.forsidebanner:after {
    content: "";
    display: table;
    clear: both;
}

.forsidebanner img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
}

.aktivitetbanner {
    width: 100vw;
    height: 49vw;
    background-image: url(img/banner3.jpg);
    background-size: cover;
}

.kontaktbanner {
    width: 100vw;
    height: 49vw;
    background-image: url(img/banner5.jpg);
    background-size: cover;
}

.ombanner {
    width: 100vw;
    height: 49vw;
    background-image: url(img/banner2.jpg);
    background-size: cover;
}

#banner h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
}

#banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
}

/********* SECTIONWRAPPER *********/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.sectionwrapper .column {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 30px 30px 0 30px;
}

.sectionwrapper .column:last-child {
    padding: 30px 30px 30px 30px;
}

/********* AKTIVITETER *********/

.aktivitetmenu {
    background-color: #d1d4d8;
}

ul.undermenu {
    margin: 0 auto;
    height: 50px;
    width: 360px;
    padding-top: 20px;
    background-color: #d1d4d8;
}

.undermenu li {
    display: inline;
    font-size: 0.9em;
    margin: 10px 0px 10px 5px;
}

.undermenu li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #0a2443;
}

.undermenu li a:hover {
    color: orangered;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

td p {
    color: dimgray;
    font-weight: 100;
    font-size: 0.7em;
}

tr {
    background-color: white;

}


tr:first-child {
    background-color: #d1d4d8;
}

tr:first-child p {
    color: black;
}

td:first-child {
    background-color: #d1d4d8;

}

td:first-child p {
    color: black;
}

table td {
    padding: 5px;
    border-left: 1px solid #eee;

}

/********* FOOTER *********/

footer {
    background-color: #15273c;
    color: #dcdeeb;
    display: flex;
    flex-wrap: wrap;
}

footer .column {
    flex-grow: 1;
    flex-basis: 400px;
    text-align: center;
    line-height: 25px;
    padding-bottom: 20px;
}

footer .column img {
    padding: 10px;
    width: 120px;
}

#facebook {
    width: 50px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .column h3 {
    padding-top: 25px;
    text-transform: uppercase;
}

footer .column li {
    line-height: 20px;
}

footer .column li a {
    color: #dcdeeb;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 561px) {

    .logo {
        width: 60px;
        height: 60px;
        margin-top: 2px;
    }

    .forsidebanner img {
        width: 200px;
    }
}

@media screen and (min-width: 0px) {

    #banner_forside h1 {
        padding: 0px;
        padding-bottom: 50px;

    }

    header nav {
        font-size: 0.8em;
    }


}

@media screen and (min-width: 560px) {

    footer .column {
        flex-basis: 350px;
    }

    #banner h1 {
        padding-top: 40px;
    }

    header nav li {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;

    }

    #banner_forside h1 {
        padding: 0px;
        padding-bottom: 50px;

    }


    header nav {
        font-size: 0.8em;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-top: 2px;
    }

    table {
        font-size: 1em;
    }

    ul.undermenu {
        margin: 0 auto;
        height: 50px;
        width: 464px;
        padding-top: 20px;
        background-color: #d1d4d8;
    }

    .undermenu li {
        display: inline;
        font-size: 1em;
        margin: 10px;
    }

}

@media screen and (min-width: 768px) {

    footer .column {
        flex-basis: 50%;
    }

    #banner h1 {
        font-size: 4em;
        padding-top: 150px;
    }

    #banner_forside h1 {
        padding: 0px;
        padding-bottom: 100px;

    }


    header nav {
        font-size: 1.2em;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-top: 2px;
    }

}

@media screen and (min-width: 992px) {
    footer .column {
        flex-basis: 16.6%;
    }

    #banner h1 {
        font-size: 5em;


    }
    #banner_forside h1 {
        font-size: 5em;
        padding: 0px;
        padding-bottom: 100px;

    }


    header nav {
        font-size: 1.2em;
    }
    .logo {
        width: 60px;
        height: 60px;
        margin-top: 2px;
    }

}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
}
